---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8"

// variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
$base-font-size: 15px
$std-padding: 1rem

$brown: #5a411b
$choc: #9d7538
$yellow: #f4d33c
$bright: #fff5e6

$text-color: $brown
$bg-color: $yellow
$bg-content-color: $bright

$link-color: $choc
$link-hover-color: $brown
$link-active-color: darken($brown, 12%)

$footer-color: $choc

$content-width: 800px
$std-duration: 200ms

body
  color: $text-color
  padding: 0
  margin: 0
  font-size: $base-font-size
  font-family: $base-font-family
  background-color: $bg-color
  
  header
    white-space: nowrap
    background: $bg-color url({{ "/assets/blend.png" | relative_url }}) repeat-x
    border-bottom: 1px solid #ca943e

    h1
      margin: 0 auto
      padding: 0.4rem $std-padding 0.2rem
      font-size: 240%
      font-weight: bold
      display: block
      font-family: Georgia
      width: $content-width

      #header-small
        color: $choc
        font-size: 55%
        font-weight: 100
        word-spacing: 0.2em
        letter-spacing: -0.02em

      img
        vertical-align: middle

      a:link, a:hover, a:visited
        color: $choc
        text-decoration: none
        font-style: italic

h2
  margin: 1.6rem 0 0.6rem
  text-align: left
  font-size: 120%

h3
  margin: 1.6rem 0 0.6rem
  text-align: left
  font-size: 100%

table
  margin: 0

hr
  border: 1px solid #e4c228

a
  transition: color $std-duration

  &:link, &:visited
  color: $link-color
  text-decoration: underline

  &:hover
    color: $link-hover-color

    svg
      stroke: $link-hover-color
      
      path
        fill: $link-hover-color

ul
  list-style-image: url(data:image/gif;base64,R0lGODlhBQAFAIABAEUyFf///yH5BAEKAAEALAAAAAAFAAUAAAIHTGCnyJsYCgA7)
  padding-left: 1.5em

ol
  list-style-type: lower-latin
  list-style-image: none
  padding-left: 1.5em

nav.menu
  background: #ffe984
  border-top: 1px solid #e4c228
  border-bottom: 1px solid #e4c228
  list-style: none
  display: block
  padding: 0.5em 0
  margin: 0
  word-spacing: -0.05em
  
  .inner
    width: $content-width
    margin: 0 auto
    padding: 0 $std-padding
    
    a
      white-space: nowrap
      &:link, &:visited
        color: $link-color
        margin-left: 0.9em
        text-decoration: none
        
        &:first-child
          margin-left: 0

      &:hover
        color: $link-hover-color

      &.active
        color: $link-active-color

main
  #outer-content
    background: $bg-content-color url({{ "/assets/content.jpg" | relative_url }}) no-repeat right bottom
    background-attachment: fixed
    border-top: 2px solid #f4eabd
    width: 100%

    #content
      background: transparent
      width: $content-width
      padding: $std-padding 0 $std-padding * 2
      margin: 0 auto
      text-align: justify
      
      &::after
        content: ""
        display: block
        clear: both

footer
  color: $footer-color
  background: $bg-color url({{ "/assets/blend.png" | relative_url }}) repeat-x top
  
  .inner
    padding: 1em 1em 1em
    margin: 0 auto
    width: $content-width
    
    a
      text-decoration: none
      
      > *
        vertical-align: middle
        
    .info
      @extend .pull-right
        
      > *
        vertical-align: middle

.screenshot
  display: block
  width: 33%
  height: 200px
  float: left
  text-align: center
  margin: 1.5rem 0 1.5rem

  .caption
    margin: 0 0.8rem 0.25rem

.pull-right
  float: right

.icon
  display: inline-block
  margin-right: 4px
  width: 16px
  height: 16px

  svg
    stroke: $footer-color
    
    path
      fill: $footer-color
