---
---
@charset "utf-8"

// variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
$base-font-size: 15px
$std-padding: 1rem
$menu-padding: 0.5rem

$brown: rgb(90, 65, 27)
$choc: rgb(157, 117, 56)
$yellow: rgb(244, 211, 60)
$bright: rgb(255, 245, 230)

$text-color: $brown
$bg-color: $yellow
$bg-content-color: $bright

$link-color: $choc
$link-hover-color: $brown
$link-active-color: darken($brown, 12%)

$footer-color: $link-hover-color
$footer-hover-color: darken($link-hover-color, 12%)

$content-width: 800px
$std-duration: 200ms
$breakpoint: 800px

@mixin clearfix
  &::after
    content: ""
    display: block
    clear: both

@mixin bg-gradient
  $gradient-color: rgb(red($yellow), green($yellow) - 27, blue($yellow))
  background: linear-gradient(to bottom, $gradient-color 0, $yellow 2rem)

body
  color: $text-color
  padding: 0
  margin: 0
  font-size: $base-font-size
  font-family: $base-font-family
  background-color: $bg-color

  header
    +bg-gradient
    white-space: nowrap
    border-bottom: 1px solid lighten($choc, 10%)
    width: 100%

    h1
      margin: 0 auto
      padding: 0.4rem $std-padding 0.2rem
      font-size: 240%
      font-weight: bold
      display: block
      font-family: Georgia
      max-width: $content-width

      #header-small
        color: darken($choc, 5%)
        font-size: 55%
        font-weight: 100
        word-spacing: 0.2em
        letter-spacing: -0.02em

        @media (max-width: $breakpoint)
          display: none

      img
        vertical-align: middle

      a
        &:link, &:visited
          color: darken($choc, 10%)
          text-decoration: none
          font-style: italic

        &:hover
          color: darken($choc, 5%)

h2
  margin: 1.6rem 0 0.6rem
  text-align: left
  font-size: 120%

h3
  margin: 1.6rem 0 0.6rem
  text-align: left
  font-size: 100%

table
  margin: 0

hr
  border: 1px solid lighten($text-color, 40%)

a
  transition: color $std-duration

  &:link, &:visited
    color: $link-color
    text-decoration: underline

  &:hover
    color: $link-hover-color

    svg
      stroke: $link-hover-color

      path
        fill: $link-hover-color

ul
  list-style-image: url(data:image/gif;base64,R0lGODlhBQAFAIABAEUyFf///yH5BAEKAAEALAAAAAAFAAUAAAIHTGCnyJsYCgA7)
  padding-left: 1.5em

ol
  list-style-type: lower-latin
  list-style-image: none
  padding-left: 1.5em

nav.menu
  $border-color: darken($yellow, 13%)
  background: saturate(lighten($yellow, 15%), 40%)
  border-top: 1px solid $border-color
  border-bottom: 1px solid $border-color
  list-style: none
  display: block
  margin: 0
  word-spacing: -0.05em

  .inner
    +clearfix
    max-width: $content-width
    margin: 0 auto
    padding: 0 $std-padding

    a
      white-space: nowrap
      display: inline-block
      margin: $menu-padding $menu-padding $menu-padding 0
      text-decoration: none

      &:last-child
        margin-right: 0 !important

      &:link, &:visited
        color: $link-color

      &:hover
        color: $link-hover-color

      &.active
        color: $link-active-color

main
  #outer-content
    background: $bg-content-color url({{ "/assets/content.jpg" | relative_url }}) no-repeat right bottom
    background-attachment: fixed
    border-top: 2px solid darken($bg-content-color, 6%)
    border-bottom: 2px solid darken($bg-content-color, 18%)
    width: 100%

    #content
      +clearfix
      background: transparent
      max-width: $content-width
      padding: $std-padding * 2 $std-padding $std-padding * 2
      margin: 0 auto

      > *:first-child
        margin-top: 0

footer
  +bg-gradient
  border-top: 1px solid lighten($choc, 10%)

  .inner
    padding: 1em 1em 1em
    margin: 0 auto
    max-width: $content-width

    a
      color: $footer-color
      text-decoration: none

      &:hover
        color: $footer-hover-color

        svg
          stroke: $footer-hover-color

          path
            fill: $footer-hover-color

      > *
        vertical-align: middle

    svg
      stroke: $footer-color

      path
        fill: $footer-color

    .info
      @extend .pull-right

      > *
        vertical-align: middle

.screenshots
  display: flex
  justify-content: space-between
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around

  .screenshot
    display: block
    margin: 0.75rem

    &:hover img
      filter: brightness(0.95)

    img
      transition: filter $std-duration
      max-width: 100%

    .caption
      margin-bottom: 0.8rem
      width: 220px

.pull-right
  float: right

.icon
  display: inline-block
  margin-right: 4px
  width: 16px
  height: 16px
