---
layout: default
---

<div class="screenshots">
    {% include screenshot.html title="Einstiegsmaske" img="einstieg.jpg" %}
    {% include screenshot.html title="Stammdaten" img="stammdaten.jpg" %}
    {% include screenshot.html title="Rechnungserfassung" img="rechnungserfassung.jpg" %}
    {% include screenshot.html title="Rechnungsgenerierung" img="rechnungsgenerierung.jpg" %}
    {% include screenshot.html title="Rechnungsbearbeitung" img="rechnungsbearbeitung.jpg" %}
    {% include screenshot.html title="Krankenkassen" img="krankenkassen.jpg" %}
    {% include screenshot.html title="Angaben zur Hebamme" img="angaben_zur_hebamme.jpg" %}
    {% include screenshot.html title="elektronisch Rechnungen verschicken" img="xauftrag.jpg" %}
    {% include screenshot.html title="Parameter der Datenannahmestellen" img="parameter_datenannahmestellen.jpg" %}
</div>
